/*MIXIN*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

transition(property)
  -webkit-transition property
  -moz-transition property
  -ms-transition property
  -o-transition property
  transition property

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

section-title()
  h2
    position relative
    display inline-block
    margin 0
    color #ffea00
    font-size 18px
    padding 0 30px
    background #424147
    line-height 30px
    text-transform uppercase
    &:before
      content ""
      position absolute
      top 50%
      background #cacaca
      height 2px
      left -99999px
      right 110%
    &:after
      content ""
      position absolute
      top 50%
      height 2px
      background #cacaca
      right -99999px
      left 110%

/*RESET*/
ul
  margin: 0;
  padding: 0;
  list-style: none;

a:focus,
button:focus,
input:focus,
textarea:focus
  outline: none;

*
  box-sizing border-box

body
  background #f6f6f6
  font 500 13px "CenturyGothic", sans-serif

.navbar-inverse
  background none
  border none


.navbar-collapse
  box-shadow(none)

.wrapper
  width 100%
  max-width 1630px
  margin 0 auto
  overflow hidden

//PROJECT
.header
  width 100%
  padding 22px 0
  background #f6f6f6

.logo
  margin-left 80px

.navbar-collapse
  float right
  margin 10px 40px 0 0
  font 500 16px "Code-Light", sans-serif
  li
    margin-left 50px
    &:first-child
      margin-left 0
    display inline-block
    a
      padding 0 5px
      text-decoration none
      display block
      line-height 70px
      color #000
      text-transform uppercase
      &:hover
        background #ffea00

.slider
  img
    display inline-block
    width 49%
    padding-right 80px


.slider-text
  display inline-block
  width 50%
  vertical-align middle
  padding-left 80px
  text-align right
  h1
    text-align left
    color #000000
    text-transform uppercase
    background #ffea00
    font-size 70px
  p
    text-align left
    color #fff
    background #414146
    width 50%
    font-size 24px
  a
    font-size 24px
    padding 0 20px
    margin 20px 40px 0 0

.main-slider
  position relative
  background url("../img/slider-bg.jpg") no-repeat
  background-size cover
  padding 50px 0 20px
  .owl-prev
    text-indent -9999px
    position absolute
    top 42%
    left 0
    width 46px
    height 100px
    background #000
    &:before
      content ""
      position absolute
      top 37%
      left 25%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14.5px 16px 14.5px 0;
      border-color: transparent #ffffff transparent transparent;
    &:after
      content ""
      position absolute
      top 37%
      left 30%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14.5px 16px 14.5px 0;
      border-color: transparent #000 transparent transparent;
  .owl-next
    text-indent -9999px
    position absolute
    top 42%
    right  0
    width 46px
    height 100px
    background #000
    &:before
      content ""
      position absolute
      top 37%
      right  25%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14.5px 0 14.5px 16px;
      border-color: transparent transparent transparent #ffffff;
    &:after
      content ""
      position absolute
      top 37%
      right  30%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14.5px 0 14.5px 16px;
      border-color: transparent transparent transparent #000;

.owl-pagination
  text-align center
  margin-top 30px
  .owl-page
    border 3px solid #414146
    display inline-block
    margin 0 5px
    width 20px
    height 20px
    background #414146
  .active
    background #ffea00

.services
  color #424147
  padding 80px 0
  h2
    font-size 35px
    text-align center
    text-transform uppercase
  .subtitle
    font-size 24px
    text-align center

.specialization-list
  text-align center
  margin-top 45px
  color #fff
  li
    margin 0 25px
    margin-bottom 40px
    position relative
    display inline-block
    overflow hidden
    h4
      letter-spacing 2px
      font 700 20px 'Code-Light'
  li:hover .specialization-item
      opacity 0
      transition(1s)


.img-cont
  width 250px
  height 200px
  position relative
  background #ffea00
  text-align center
  img
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    margin auto
  h4
    position absolute
    top 65%
    left 0
    right 0
    bottom 0
    margin 30px auto 0
    text-transform uppercase
    color #000
  &:hover
    background none

.hover-effect
  opacity 0
  position absolute
  top 0
  left 0
  h4
    color #fff
    text-transform uppercase
    margin 0
    text-align left
  span
    text-align right
    display block
    font-size 10px
    a
      font-size 10px
      color #ffea00
  &:hover
    opacity 1
    transition(1s)

.arrow_box
  width 250px
  height 85px
  padding 20px
  display inline-block
  position relative
  background:#414146

.arrow_box:after, .arrow_box:before
  bottom 100%
  left 80%
  border solid transparent
  content " "
  height 0
  width 0
  position: absolute
  pointer-events none
  opacity 0

li:hover .arrow_box:after,
li:hover .arrow_box:before
  opacity 1
  transition(1s)


.arrow_box:after
  border-color rgba(136, 183, 213, 0)
  border-bottom-color #414146
  border-width 8px
  margin-left -8px

.arrow_box:before
  border-color rgba(194, 225, 245, 0)
  border-bottom-color #c2e1f5
  border-width 8px
  margin-left -8px


.our-work, .clients
  text-align center
  position relative
  overflow hidden
  padding-bottom 90px
  section-title()
  .subtitle
    margin 35px 0
    font-size 16px
    color #424146

.colagge-cont
  width 100%
  max-width 1630px
  display block
  margin 0 auto

.slide-wrap
  width 90%
  max-width 1400px
  margin 0 auto
  position relative

  .owl-prev
    text-indent -999999px
    position absolute
    top 0
    width 40px
    height 65px
    background #000
    left -5%
    &:before
      content ""
      position absolute
      top 25%
      left 25%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 16px 15px 0;
      border-color: transparent #ffffff transparent transparent;
    &:after
      content ""
      position absolute
      top 25%
      left 30%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 16px 15px 0;
      border-color: transparent #000 transparent transparent;

  .owl-next
    text-indent -99999px
    position absolute
    top 0
    right 0
    width 40px
    height 65px
    background #000
    right  -5%
    &:before
      content ""
      position absolute
      top 25%
      right 25%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 16px;
      border-color: transparent transparent transparent #ffffff;
    &:after
      content ""
      position absolute
      top 25%
      right 30%
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 16px;
      border-color: transparent transparent transparent  #000;


.contact
  padding 30px 5%
  color #fff
  background #414146
  article
    display inline-block
    vertical-align top
    margin 0 2%
    h4
      line-height 30px
      font-weight 700
.about-us
  /*width 25%*/
  width 30%
.scl
  width 35%

  .social-title

    line-height 20px

.contact-info
  width 20%
  address
    margin 30px 0
  dt
    width 100px
    text-align left
    padding-left 40px
    line-height 30px
  dd
    line-height 30px
    margin-left 100px
    a
     color #FFEA00

.contact-address
  position relative
  &:before
    content ""
    position absolute
    top 0
    left 0
    width 30px
    height 30px
    background url("../img/contact-sprite.png") no-repeat
    background-position 0 0

.contact-tel
  position relative
  &:before
    content ""
    position absolute
    top 0
    left 0
    width 30px
    height 30px
    background url("../img/contact-sprite.png") no-repeat
    background-position -74px 0

.contact-email
  position relative
  &:before
    content ""
    position absolute
    top 0
    left 0
    width 30px
    height 30px
    background url("../img/contact-sprite.png") no-repeat
    background-position -148px 0

.spam-form
  input[type=email]
    float left
    border none
    border-bottom 1px solid #FFEA00
    background #414146
    height 28px
  input[type=submit]
    border none
    width 28px
    height 28px
    background url("../img/contact-sprite.png") no-repeat
    background-position -228px 0

//socialhover
.social,.social:visited { color: #fff; }
.social:hover { color: #fff; }
.social {
  margin: 0 2px; width: 20px; height: 20px;
  display: inline-block; text-align: center; line-height:20px; color: #fff;

  position: relative;
  transform:rotateY(0deg);
  transition(transform .25s ease-out);
  transform-style:preserve-3d;
}
.social > div {
  width: 20px; height: 20px; background: #000;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
.social >.front {
  transform:translateZ(10px);
  font-size: 10px;
}
.social >.back {
  background: #3B5998; font-size: 10px;
  transform:rotateY(-90deg) translateZ(10px);
}

/*  Social Media Colors
	Facebook #3B5998
	Flickr #FE0883
	Foursquare #8FD400
	Google+ #C63D2D
	Instagram #4E433C
	Linkedin #4875B4
	Tumblr #2B4964
	Twitter #33CCFF
	Vimeo #86B32D
	Youtube #FF3333
	Dribbble #ea4c89
*/
.social.social-twitter > .back { background: #55ACEE; }
.social.social-youtube > .back { background: #FF3333; color: #000; }
.social.social-pinterest > .back { background: #e3262e; }
.social.social-googleplus > .back { background: #dd4B39; }
.social.social-skype > .back { background: #12A5F4; }
.social.social-linkedin > .back { background: #4875B4; }
.social.social-dribbble > .back { background: #ea4c89; }

/* Hover */
.social:hover {
  transform: rotateY(100deg);
}


.lrn-btn
  font-size 15px
  color #fff
  text-decoration none
  line-height 40px
  padding 0 15px
  background #000
  &:hover
    color #fff
    text-decoration none
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
.lrn-btn:before
  content ""
  position absolute
  z-index -1
  left 0
  right 0
  bottom 0
  background #FFEA00
  height 2px
  -webkit-transition-property right
  transition-property right
  -webkit-transition-duration 0.3s
  transition-duration 0.3s
  -webkit-transition-timing-function ease-out
  transition-timing-function ease-out

.lrn-btn:hover:before, .lrn-btn:focus:before, .lrn-btn:active:before
  right 100%

.hvr-lrn-btn
  display inline-block
  vertical-align middle
  -webkit-transform translateZ(0)
  transform translateZ(0)
  box-shadow 0 0 1px rgba(0, 0, 0, 0)
  -webkit-backface-visibility hidden
  backface-visibility hidden
  -moz-osx-font-smoothing grayscale
  position relative
  overflow hidden
  &:after
    content ""
    position absolute
    z-index -1
    left 100%
    right 0
    top 0
    background #FFEA00
    height 2px
    -webkit-transition-property left
    transition-property left
    -webkit-transition-duration 0.3s
    transition-duration 0.3s
    -webkit-transition-timing-function ease-out
    transition-timing-function ease-out

.hvr-lrn-btn:hover:after, .hvr-lrn-btn:focus:after, .hvr-lrn-btn:active:after
  left 0

.footer
  padding 26px 7%
  color #fff
  background #000
  span
    display inline-block
  nav
    font 500 16px "Code-Light", sans-serif
    li
      &:first-child
        margin-left 0
      a
        padding 0 5px
        text-decoration none
        display block
        color #fff
        text-transform uppercase
        &:hover
          background #ffea00

.twitter-timeline
  display block