/*MIXIN*/
/*RESET*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
body {
  background: #f6f6f6;
  font: 500 13px "CenturyGothic", sans-serif;
}
.navbar-inverse {
  background: none;
  border: none;
}
.navbar-collapse {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.wrapper {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  overflow: hidden;
}
.header {
  width: 100%;
  padding: 22px 0;
  background: #f6f6f6;
}
.logo {
  margin-left: 80px;
}
.navbar-collapse {
  float: right;
  margin: 10px 40px 0 0;
  font: 500 16px "Code-Light", sans-serif;
}
.navbar-collapse li {
  margin-left: 50px;
  display: inline-block;
}
.navbar-collapse li:first-child {
  margin-left: 0;
}
.navbar-collapse li a {
  padding: 0 5px;
  text-decoration: none;
  display: block;
  line-height: 70px;
  color: #000;
  text-transform: uppercase;
}
.navbar-collapse li a:hover {
  background: #ffea00;
}
.slider img {
  display: inline-block;
  width: 49%;
  padding-right: 80px;
}
.slider-text {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  padding-left: 80px;
  text-align: right;
}
.slider-text h1 {
  text-align: left;
  color: #000;
  text-transform: uppercase;
  background: #ffea00;
  font-size: 70px;
}
.slider-text p {
  text-align: left;
  color: #fff;
  background: #414146;
  width: 50%;
  font-size: 24px;
}
.slider-text a {
  font-size: 24px;
  padding: 0 20px;
  margin: 20px 40px 0 0;
}
.main-slider {
  position: relative;
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 20px;
}
.main-slider .owl-prev {
  text-indent: -9999px;
  position: absolute;
  top: 42%;
  left: 0;
  width: 46px;
  height: 100px;
  background: #000;
}
.main-slider .owl-prev:before {
  content: "";
  position: absolute;
  top: 37%;
  left: 25%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14.5px 16px 14.5px 0;
  border-color: transparent #fff transparent transparent;
}
.main-slider .owl-prev:after {
  content: "";
  position: absolute;
  top: 37%;
  left: 30%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14.5px 16px 14.5px 0;
  border-color: transparent #000 transparent transparent;
}
.main-slider .owl-next {
  text-indent: -9999px;
  position: absolute;
  top: 42%;
  right: 0;
  width: 46px;
  height: 100px;
  background: #000;
}
.main-slider .owl-next:before {
  content: "";
  position: absolute;
  top: 37%;
  right: 25%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14.5px 0 14.5px 16px;
  border-color: transparent transparent transparent #fff;
}
.main-slider .owl-next:after {
  content: "";
  position: absolute;
  top: 37%;
  right: 30%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14.5px 0 14.5px 16px;
  border-color: transparent transparent transparent #000;
}
.owl-pagination {
  text-align: center;
  margin-top: 30px;
}
.owl-pagination .owl-page {
  border: 3px solid #414146;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: #414146;
}
.owl-pagination .active {
  background: #ffea00;
}
.services {
  color: #424147;
  padding: 80px 0;
}
.services h2 {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
.services .subtitle {
  font-size: 24px;
  text-align: center;
}
.specialization-list {
  text-align: center;
  margin-top: 45px;
  color: #fff;
}
.specialization-list li {
  margin: 0 25px;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.specialization-list li h4 {
  letter-spacing: 2px;
  font: 700 20px 'Code-Light';
}
.specialization-list li:hover .specialization-item {
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.img-cont {
  width: 250px;
  height: 200px;
  position: relative;
  background: #ffea00;
  text-align: center;
}
.img-cont img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.img-cont h4 {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px auto 0;
  text-transform: uppercase;
  color: #000;
}
.img-cont:hover {
  background: none;
}
.hover-effect {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.hover-effect h4 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}
.hover-effect span {
  text-align: right;
  display: block;
  font-size: 10px;
}
.hover-effect span a {
  font-size: 10px;
  color: #ffea00;
}
.hover-effect:hover {
  opacity: 1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.arrow_box {
  width: 250px;
  height: 85px;
  padding: 20px;
  display: inline-block;
  position: relative;
  background: #414146;
}
.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 80%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
li:hover .arrow_box:after,
li:hover .arrow_box:before {
  opacity: 1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.arrow_box:after {
  border-color: rgba(136,183,213,0);
  border-bottom-color: #414146;
  border-width: 8px;
  margin-left: -8px;
}
.arrow_box:before {
  border-color: rgba(194,225,245,0);
  border-bottom-color: #c2e1f5;
  border-width: 8px;
  margin-left: -8px;
}
.our-work,
.clients {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}
.our-work h2,
.clients h2 {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #ffea00;
  font-size: 18px;
  padding: 0 30px;
  background: #424147;
  line-height: 30px;
  text-transform: uppercase;
}
.our-work h2:before,
.clients h2:before {
  content: "";
  position: absolute;
  top: 50%;
  background: #cacaca;
  height: 2px;
  left: -99999px;
  right: 110%;
}
.our-work h2:after,
.clients h2:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background: #cacaca;
  right: -99999px;
  left: 110%;
}
.our-work .subtitle,
.clients .subtitle {
  margin: 35px 0;
  font-size: 16px;
  color: #424146;
}
.colagge-cont {
  width: 100%;
  max-width: 1630px;
  display: block;
  margin: 0 auto;
}
.slide-wrap {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.slide-wrap .owl-prev {
  text-indent: -999999px;
  position: absolute;
  top: 0;
  width: 40px;
  height: 65px;
  background: #000;
  left: -5%;
}
.slide-wrap .owl-prev:before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 16px 15px 0;
  border-color: transparent #fff transparent transparent;
}
.slide-wrap .owl-prev:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 16px 15px 0;
  border-color: transparent #000 transparent transparent;
}
.slide-wrap .owl-next {
  text-indent: -99999px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 65px;
  background: #000;
  right: -5%;
}
.slide-wrap .owl-next:before {
  content: "";
  position: absolute;
  top: 25%;
  right: 25%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 16px;
  border-color: transparent transparent transparent #fff;
}
.slide-wrap .owl-next:after {
  content: "";
  position: absolute;
  top: 25%;
  right: 30%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 16px;
  border-color: transparent transparent transparent #000;
}
.contact {
  padding: 30px 5%;
  color: #fff;
  background: #414146;
}
.contact article {
  display: inline-block;
  vertical-align: top;
  margin: 0 2%;
}
.contact article h4 {
  line-height: 30px;
  font-weight: 700;
}
.about-us {
/*width 25%*/
  width: 30%;
}
.scl {
  width: 35%;
}
.scl .social-title {
  line-height: 20px;
}
.contact-info {
  width: 20%;
}
.contact-info address {
  margin: 30px 0;
}
.contact-info dt {
  width: 100px;
  text-align: left;
  padding-left: 40px;
  line-height: 30px;
}
.contact-info dd {
  line-height: 30px;
  margin-left: 100px;
}
.contact-info dd a {
  color: #ffea00;
}
.contact-address {
  position: relative;
}
.contact-address:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../img/contact-sprite.png") no-repeat;
  background-position: 0 0;
}
.contact-tel {
  position: relative;
}
.contact-tel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../img/contact-sprite.png") no-repeat;
  background-position: -74px 0;
}
.contact-email {
  position: relative;
}
.contact-email:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../img/contact-sprite.png") no-repeat;
  background-position: -148px 0;
}
.spam-form input[type=email] {
  float: left;
  border: none;
  border-bottom: 1px solid #ffea00;
  background: #414146;
  height: 28px;
}
.spam-form input[type=submit] {
  border: none;
  width: 28px;
  height: 28px;
  background: url("../img/contact-sprite.png") no-repeat;
  background-position: -228px 0;
}
.social,
.social:visited {
  color: #fff;
}
.social:hover {
  color: #fff;
}
.social {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  color: #fff;
  position: relative;
  transform: rotateY(0deg);
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transform-style: preserve-3d;
}
.social > div {
  width: 20px;
  height: 20px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.social >.front {
  transform: translateZ(10px);
  font-size: 10px;
}
.social >.back {
  background: #3b5998;
  font-size: 10px;
  transform: rotateY(-90deg) translateZ(10px);
}
/*  Social Media Colors
	Facebook #3B5998
	Flickr #FE0883
	Foursquare #8FD400
	Google+ #C63D2D
	Instagram #4E433C
	Linkedin #4875B4
	Tumblr #2B4964
	Twitter #33CCFF
	Vimeo #86B32D
	Youtube #FF3333
	Dribbble #ea4c89
*/
.social.social-twitter > .back {
  background: #55acee;
}
.social.social-youtube > .back {
  background: #f33;
  color: #000;
}
.social.social-pinterest > .back {
  background: #e3262e;
}
.social.social-googleplus > .back {
  background: #dd4b39;
}
.social.social-skype > .back {
  background: #12a5f4;
}
.social.social-linkedin > .back {
  background: #4875b4;
}
.social.social-dribbble > .back {
  background: #ea4c89;
}
/* Hover */
.social:hover {
  transform: rotateY(100deg);
}
.lrn-btn {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  background: #000;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.lrn-btn:hover {
  color: #fff;
  text-decoration: none;
}
.lrn-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffea00;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.lrn-btn:hover:before,
.lrn-btn:focus:before,
.lrn-btn:active:before {
  right: 100%;
}
.hvr-lrn-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-lrn-btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  top: 0;
  background: #ffea00;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-lrn-btn:hover:after,
.hvr-lrn-btn:focus:after,
.hvr-lrn-btn:active:after {
  left: 0;
}
.footer {
  padding: 26px 7%;
  color: #fff;
  background: #000;
}
.footer span {
  display: inline-block;
}
.footer nav {
  font: 500 16px "Code-Light", sans-serif;
}
.footer nav li:first-child {
  margin-left: 0;
}
.footer nav li a {
  padding: 0 5px;
  text-decoration: none;
  display: block;
  color: #fff;
  text-transform: uppercase;
}
.footer nav li a:hover {
  background: #ffea00;
}
.twitter-timeline {
  display: block;
}
