
@media (max-width: 991px) {
    .navbar-collapse {
        margin-right: 0;
    }
    .navbar-collapse li {
        display: block;
        margin-left: 30px;
    }
    .slider-text h1 {
        font-size: 50px;
        text-align: center;
    }
    .slider-text p {
        width: 70%;
        margin: 0 auto;
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .navbar-collapse {
        margin: 0;
        float: none;
    }
    .navbar-collapse li {
        display: block;
        margin: 0;
    }
    .navbar-collapse li a{
        display: block;
        text-align: center;
    }
    .slider-text {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 80%;
        padding: 0;
    }
    .slider-text h1 {
        font-size: 30px;
        text-align: center;
    }
    .slider-text p {
        width: 70%;
        margin: 0 auto;
        font-size: 15px;
    }
    .slider img {
        display: block;
        padding: 50px 0;
        width: 80%;
        margin: 0 auto;
    }
    .photo-stream {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .foot-nav {
        float: none;
    }
    .foot-nav {
        text-align: center;
        float: none;
    }
    .foot-nav li {
        font-size: 12px;
        margin-left: 15px;
    }
}

@media (min-width: 300px) {
    .contact article {
        clear: both;
        /*width: 100%;*/
        display: block;
        margin: 30px auto;
    }
    .social-title {
        display: block;
        float: none;
    }
    .scl-cont {
        text-align: center;
    }
    .contact article h4 {
        text-align: center;
    }

    .about-us {
        width: 70%;
    }
    .scl {
        width: 70%;
    }
    .contact-info {
        width: 70%;
    }
    .contact-info dt {
        float: left;
    }
    .footer span {
        display: block;
        text-align: center;
        line-height: normal;
    }
    .foot-nav {
        float: none;
    }
}

@media (min-width: 768px) {
    .specialization-list {
        width: 70%;
        margin: 0 auto;
    }
    .contact article h4 {
        text-align: left;
    }
    .social-title {
        display: inline-block;
    }
    .scl-cont{
        display: inline-block;
    }
    .photo-stream {
        width: 100%;
        margin: 0 auto;
    }
    .footer span {
        display: inline-block;
    }
    .foot-nav {
        float: right;
    }
    .foot-nav li {
        margin-left: 50px;
    }

}

@media (min-width: 1200px) {
    .specialization-list {
        width: 100%;
    }
    .contact article{
        display: inline-block;
        vertical-align: top;
        margin: 0 2%;
    }
    .about-us {
        width: 30%;
    }
    .scl {
        width: 35%;
    }

    .contact-info {
        width: 20%;
    }
}
